button {
  padding: 5px;
  margin: 3px;
  border: 1px solid black;
}

input {
  padding: 5px;
  margin: 3px;
  border: 1px solid black;
}
.employee {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.employee button {
}

.employee .one-info {
  float: left;
  width: 100px;
  text-align: center;
}

#create {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#title h4 {
  float: left;
  width: 100px;
}
#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 30px;
}
